h1{
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 258%;
}

h2,h3{
  color: rgb(173, 169, 169);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body{
  margin: 2em;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(43, 39, 39);
}
body, input[type="text"], button{
  color: #333;
  font-family: Cambria, Georgia, serif;
  border-radius: 30px;
}
*{
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.6s;
}
